<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="PATH_PROJECT" value="C:\Users\Admin\Documents\DVD PROJECT\Projects"/>
    <add key="NUMBER_ANH_CAT" value="80"/>
    <add key="NUMBER_ANH_GOC" value="20"/>
    <add key="NUMBER_ANH_HT" value="30"/>
    <add key="NUMBER_ANH_GT" value="2"/>
  </appSettings>
</configuration>